<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.az.manager.dao.ApplicationMapper">

    <sql id="where">
        <where>
            a.state = 0
            <if test="searchUname != '' and searchUname != null">
                and u.username like "%${searchUname}%"
            </if>
            <if test="searchName != '' and searchName != null">
                and a.name like "%${searchName}%"
            </if>
        </where>
    </sql>

    <!-- 查总数 -->
    <select id="selectCount" parameterType="com.az.manager.pojo.vo.ListApplicationAndStoreVo" resultType="Long">
        select count(a.id) from tb_application a left join tb_user u on a.uid=u.id
        <include refid="where"/>
    </select>

    <!-- 列出所有申请 -->
    <select id="selectApplication" parameterType="com.az.manager.pojo.vo.ListApplicationAndStoreVo" resultType="com.az.manager.pojo.po.ApplicationPo">
        select a.id,a.uid,a.name,a.content,a.date,a.state,u.username uname
        from tb_application a left join tb_user u on a.uid=u.id
        <include refid="where"/>
        order by a.date desc limit #{offset},#{pageSize}
    </select>

    <!-- 审批 -->
    <update id="updateState" parameterType="com.az.manager.pojo.po.ApplicationPo">
        update tb_application set state = #{state} where id = #{id}
    </update>

</mapper>