<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.az.manager.dao.ManagerMapper" >
   <select id="selectByNameAndPassword" parameterType="com.az.manager.pojo.vo.ManagerVo" resultType="com.az.manager.pojo.po.ManagerPo">
       select id,name,password,age,sex,nickname,usertype from tb_manager where name=#{name} and password=#{password}
   </select>
    <sql id="Base_Column_List" >

        id, name, password, age,sex, nickname, usertype
    </sql>
    <select id="selectallManager" parameterType="com.az.manager.pojo.vo.PageInfo" resultType="com.az.manager.pojo.po.TbManager">

        select
        <include refid="Base_Column_List"/>
        from  tb_manager
        limit #{offset},#{pageSize}
    </select>
    <select id="countManager" resultType="_long">
    SELECT COUNT(*)
        FROM  tb_manager
    </select>
    <insert id="addManager" parameterType="com.az.manager.pojo.po.TbManager">

        insert  into tb_manager(name, password,
      age, sex, nickname,
      usertype)
      values (#{name}, #{password},
      #{age}, #{sex}, #{nickname},
      0)
    </insert>

</mapper>